<div class="container">
    <div class="text-center">
        <h3>Contenedor Forms</h3>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary m-1" routerLinkActive="active" [routerLink]="['template']">Template</button>
                <button type="button" class="btn btn-secondary m-1" routerLinkActive="active" [routerLink]="['reactive']">Reactive</button>
            </div>
        </div>

    </div>
    <router-outlet></router-outlet>
</div>