<h4>Formularios <small> Tamplete </small></h4>
<hr>
<form autocomplete="off" (ngSubmit)="guardarForm( form )" #form="ngForm">

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">

                <input class="form-control" name="nombre" #nombre="ngModel" [ngClass]="(!nombre.valid && nombre.touched) ? 'is-invalid' : ''" [ngModel]="usuario.nombre" type="text" required placeholder="Nombre">
                <small *ngIf="!nombre.valid && nombre.touched" class="form-text text-danger">Ingrese su nombre</small>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">

                <input class="form-control" type="text" name="apellido" #apellido="ngModel" [ngClass]="(!apellido.valid && apellido.touched) ? 'is-invalid' : ''" [ngModel]="usuario.apellido" required placeholder="Apellido">
                <small *ngIf="!apellido.valid && apellido.touched" class="form-text text-danger">Ingrese su apellido</small>
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-8">

            <input class="form-control" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="email" #email="ngModel" [ngClass]="(!email.valid && email.touched) ? 'is-invalid' : ''" [ngModel]="usuario.email" type="text" required placeholder="Correo electrónico">
            <small *ngIf="!email.valid && email.touched" class="form-text text-danger">Ingrese su email</small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Pais</label>
        <div class="col-8">
            <select class="form-control" name="pais" [ngModel]="usuario.pais" #pais="ngModel" [disabled]="paises.length === 0" required>
                <option *ngFor="let item of paises" [value]="item.code">
                    {{item.name}}
                </option>
            </select>
            <small *ngIf="!pais.valid && pais.touched" class="form-text text-danger">Seleccione un Pais</small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Genero</label>
        <div class="col-8">

            <div class="form-check form-check-inline">
                <input class="form-check-input" [ngClass]="(!genero.valid && genero.touched) ? 'is-invalid' : ''" type="radio" required value="M" name="genero" #genero="ngModel" ngModel>
                <label class="form-check-label">Masculino</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" [ngClass]="(!genero.valid && genero.touched) ? 'is-invalid' : ''" type="radio" required value="F" name="genero" #genero="ngModel" ngModel>
                <label class="form-check-label">Femenino</label>
            </div>

            <small *ngIf="!genero.valid && genero.touched" class="form-text text-danger">Seleccione un Genero</small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
        </div>
    </div>

</form>