<p>carga works!</p>
<div class="row">
    <div class="col-md-6">
        <div>
            <label for="uplaodFile">Subir Images</label>
            <input id="uplaodFile" [disabled]="progresBare > '20' ? 'disabled' : ''" (change)="fileProgress($event)" type="file" class="form-group">
        </div>
        <!-- <div class="image-preview m-3 text-center" *ngIf="previewUrl">
            <img class="image" [src]="previewUrl" height="auto" width="50%" />
        </div> -->
        <div class="progress ">
            <div class="progress-bar " role="progressbar" [ngStyle]="{'width.%': progresBare}"></div>
        </div>
        <div>
            <ul class="list-group">
                <li *ngFor="let item of archivos; let i=index" class="p-2 m-1 list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <span>{{item.nameFile}}</span>
                    </div>
                    <div class="float-right">
                        <span class="mr-1">{{item.archivo.size / 1024 / 1024 | number: '.2-2'}} MB</span>
                        <button type="button" (click)="handleDelete(item)" class="mr-1 btn btn-sm btn-outline-primary">Eliminar</button>
                        <button type="button" class="btn btn-sm btn-outline-primary">Ver</button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="form-group m-5">
            <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
        </div>
    </div>
    <div class="col-md-6">
        <div class="text-center m-2 ">
            <h4>Cargar Archivos</h4>
            <button (click)="cargarImagenes() " [disabled]="archivos.length==0 " type="button " class="btn btn-sm btn-outline-primary m-1 ">Cargar</button>
            <button type="button " class="btn btn-sm btn-outline-primary m-1 ">Limpiar</button>
        </div>

        <table class="table ">
            <thead class="thead=dark ">
                <tr>
                    <th>Name</th>
                    <th>Tamaño</th>
                    <th>Progreso</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let archivo of archivos">
                    <td>{{archivo.nameFile}}</td>
                    <td>{{archivo.archivo.size / 1024 / 1024 | number: '.2-2'}} MB</td>
                    <td>
                        <div class="progress ">
                            <div class="progress-bar " role="progressbar " style="width: 25% "></div>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>